<app-spinner *ngIf="isLoading"></app-spinner>
<div *ngIf="!isLoading">

    <section id="main-landscape">
        <canvas id="matrix-canvas"></canvas>
        <div class="landscape-content">
            <img class="emoji-animation" src="../../assets/img/emoji.jpg" alt="Emoji">
            <h1 id="animated-text"></h1>
        </div>
        <!-- <iframe src="https://www.youtube.com/embed/jPZEGEuBK1Y?autoplay=1&controls=0&showinfo=0&autohide=1" allowfullscreen allow="autoplay"></iframe> -->
        <!-- <iframe src="https://giphy.com/embed/26tn33aiTi1jkl6H6" width="100%" height="100%" allowFullScreen></iframe> -->
    </section>
    <section class="split_area" appScrollAnimation>
        <div class="image_area">
            <div class="image_content">
                <img src="../../assets/img/emoji.jpg" alt="">
            </div>
        </div>
        <div class="text_area">
            <div class="text_content">
                <h1>Chi sono?</h1>
                <p>
                    Sono Andrea de Donato, un appassionato ingegnere informatico con una fervente passione per l'innovazione tecnologica.
                    Mi definisco un curioso esploratore del mondo digitale, costantemente alla ricerca di nuove sfide e opportunità 
                    nell'ambito dell'informatica. La mia missione è abbracciare la complessità del mondo tecnologico e trasformarla in 
                    soluzioni innovative.
                </p>
            </div>  
        </div>
    </section>
    <section class="split_area" appScrollAnimation>
        <div class="text_area">
            <div class="text_content">
                <h1>Cosa faccio e cosa mi piace fare?</h1>
                <p>
                    Come ingegnere informatico, mi dedico allo sviluppo software, esplorando le intricanti vie dell'intelligenza artificiale.
                    Amo tradurre le idee in codice e vedere prendere vita progetti che hanno un impatto tangibile sulla vita quotidiana.
                    Attraverso l'intelligenza artificiale, cerco di portare l'innovazione a nuovi livelli, esplorando le possibilità di
                    apprendimento automatico e diagnostica intelligente.
                    Nel mio blog, condividerò le mie esperienze, best practices e riflessioni sull'evoluzione del mondo informatico.
                    Unisciti a me in questo viaggio e scopriamo insieme le ultime tendenze, le sfide intriganti e le soluzioni all'avanguardia
                    che definiscono il futuro della tecnologia.
                </p>
            </div>  
        </div>
        <div class="image_area">
            <div class="image_content">
                <img src="../../assets/img/pexels-luis-gomes-546819-quad.jpg" alt="">
            </div>
        </div>
    </section>
    
</div>