<app-spinner *ngIf="isLoading"></app-spinner>
<div *ngIf="!isLoading">

    <section id="main-landscape">
        <canvas id="matrix-canvas"></canvas>
        <div class="landscape-content">
            <img class="emoji-animation" src="../../assets/img/emoji.jpg" alt="Emoji">
            <h1 id="animated-text"></h1>
        </div>
        <!-- <iframe src="https://www.youtube.com/embed/jPZEGEuBK1Y?autoplay=1&controls=0&showinfo=0&autohide=1" allowfullscreen allow="autoplay"></iframe> -->
        <!-- <iframe src="https://giphy.com/embed/26tn33aiTi1jkl6H6" width="100%" height="100%" allowFullScreen></iframe> -->
    </section>
    <section class="split_area" appScrollAnimation>
        <div class="image_area">
            <div class="image_content">
                <img src="../../assets/img/undraw_startup-life_7hl8.svg" alt="">
            </div>
        </div>
        <div class="text_area">
            <div class="text_content">
                <h1>Chi sono?</h1>
                <p>
                    Sono Andrea de Donato, un appassionato ingegnere informatico con una grande passione per l'innovazione tecnologica. 
                    Ho 25 anni e mi sono laureato in Ingegneria Informatica presso l'Università degli Studi di Roma Tre. Mi definisco un curioso 
                    esploratore del mondo digitale, costantemente alla ricerca di nuove sfide e opportunità nell'ambito dell'informatica. 
                    <br>
                    <br>
                    Dopo oltre un anno di lavoro in IDSAirnav, società del gruppo Enav, come Software Engineer, attualmente ricopro una posizione 
                    di Data Scientist all'interno della Corte dei Conti.
                </p>
            </div>  
        </div>
    </section>
    <section class="split_area" appScrollAnimation>
        <div class="text_area">
            <div class="text_content">
                <h1>Cosa faccio e cosa mi piace fare?</h1>
                <p>
                    Come ingegnere informatico, mi dedico allo sviluppo software, esplorando le intricanti vie dell'intelligenza artificiale.
                    Mi piace esplorare nuove tecnologie e modelli avanzati nell'evoluzione dell'intelligenza artificiale, con l'obiettivo di applicarli in contesti reali e pratici.
                    <br>
                    <br>
                    Nel mio blog, condividerò le mie esperienze, ricerche e riflessioni sull'evoluzione del mondo informatico.
                    Unisciti a me in questo viaggio e scopriamo insieme le ultime tendenze, le sfide intriganti e le soluzioni all'avanguardia
                    che definiscono il futuro della tecnologia.
                </p>
            </div>  
        </div>
        <div class="image_area">
            <div class="image_content">
                <img src="../../assets/img/undraw_coding_joxb.svg" alt="">
            </div>
        </div>
    </section>
    
</div>