.social-links{
    height: calc(100vh - 130px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image_container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_image{
    width: 500px;
}

#contact_links_container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_links{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.contact_link{
    margin: 15px 0px;
}

.contact_link img{
    width: 80px;
}


.contact_link a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Rimuove le linee sottolineate */
    color: white; /* Colore del testo bianco */
    font-size: 1.5rem; /* Dimensione del testo più grande */
}


.contact_link p{
    padding: 0px;
    margin: 0px 30px;
}


@media screen and (max-width: 600px) {
    .social-links{
        flex-direction: column;
    }

    .about_image{
        width: 300px;
    }

    #contact_links_container{
        justify-content: center;
        align-items: flex-start;
    }

    .contact_link{
        margin: 0px;
        margin-bottom: 40px;
    }

    .contact_link img{
        width: 70px;
    }
    
    .contact_link a {
        font-size: 1rem; /* Dimensione del testo più grande */
    }
}