.social-links{
    height: calc(100vh - 130px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}



@media screen and (max-width: 600px) {
    .social-links{
        flex-direction: column;
    }
}