<div class="social-links">
  <div class="image_container">
    <img class="about_image" src="../../assets/img/flat-design-illustration-customer-support-b.png" alt="" srcset="">
  </div>
    <!-- Includi eventuali link ai tuoi profili social -->
    <!-- Esempio: -->
  <div id="contact_links_container">
    <div class="contact_link linkedin">
      <a href="https://www.linkedin.com/in/andrea-de-donato-3248ab256">
        <img src="../../assets/img/linkedin-icon.svg" alt="" srcset="">
        <p>Andrea de Donato</p>
      </a>
      <!-- <i class="fab fa-linkedin fa-4x"></i> -->
    </div>
    <div class="contact_link instagram">
      <a href="https://www.instagram.com/andrea.de.donato/">
        <img src="../../assets/img/instagram-logo_preview_rev_1.png" alt="" srcset="">
        <p>andrea.de.donato</p>
      <!-- <i class="fab fa-instagram fa-4x"></i> -->
      </a>
    </div>
    <div class="contact_link mail">
      <a href="mailto:andreadedonato99@gmail.com">
        <img src="../../assets/img/mail-logo.svg" alt="" srcset="">
        <p>andreadedonato99&#64;gmail.com</p>
      <!-- <i class="fab fa-instagram fa-4x"></i> -->
      </a>
    </div>
  </div>
    
</div>