
h1, h2, h3, h4, h5, h6{
    color: white;
}

p{
    color: white;
    padding: 10px 40px;
    margin: 10px 40px;
    text-align: justify;
}


.container_html, .container_post{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img{
    width: 50vw;
    height: auto;
    border-radius: 20px;
}

.code_section{
    background-color: cadetblue;
    width: 50%;
    margin: 10px 50px;
    border-radius: 20px;
    text-align: justify;
}