<section id="blog_section">
    <h1>Tutti i Post</h1>

    <div>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Seleziona un topic</mat-label>
          <mat-select [(ngModel)]="selectedTopic" (selectionChange)="filterPostsByTopic()">
            <mat-option value="all">Tutti</mat-option>
            <mat-option *ngFor="let topic of uniqueTopics" [value]="topic">{{ topic }}</mat-option>
          </mat-select>
        </mat-form-field>
    </div>
      

    <div *ngFor="let post of filteredPosts" class="post_box" (click)="redirectToPostDatails(post)">
        <div>
            <img src="{{post.image}}" alt="Image_post">
        </div>
        <div>
            <b>Title:</b>
            <p>{{post.title}}</p>
        </div>
        <div>
            <b>Category:</b>
            <p>{{post.category}}</p>
        </div>
        <div>
            <b>Date:</b>
            <p>{{post.date.getDate()}}/{{post.date.getMonth()+1}}/{{post.date.getFullYear()}}</p>
        </div>
    </div>    
</section>
