#blog_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1, h2, h3, h4{
    text-align: center;
    color: white;
    margin: 0px;
    padding: 20px;
}

p{
    text-align: center;
    color: white;
    padding: 0px;
    margin: 0px;
}

b{
    text-align: center;
    color: #10a939;
    padding: 0px;
    margin: 0px;
}

.post_box{
    border-radius: 20px;
    height: 140px;
    width: 70%;
    margin: 10px 0px;
    border: 2px solid #363636;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #363636;
}

.post_box:hover{
    background-color: #5d5d5d;
    transition-duration: 0.5s;
}

.post_box img{
    border-radius: 20px;
    height: 130px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .post_box{
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 10px;
    }

    .post_box p{
        text-align: justify;
    }

    .post_box div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .post_box img{
        border-radius: 20px;
        height: 130px;
    }

}